.advertising-banner {
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 30px 0;
    text-align: center;
}

.advertising-banner__inner {
    width: 731px;
    height: 88px;
    margin: 31px auto 0;
    background-color: rgb(240, 240, 240);
}
